# -----------------------------------------------------------------------------
# DEPENDÊNCIAS DE PROJETOS (Geral)
# -----------------------------------------------------------------------------

# Ignora node_modules em qualquer subdiretório (Frontend, etc.)
node_modules/

# Yarn (PnP)
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# -----------------------------------------------------------------------------
# BACKEND ESPECÍFICO (Python/Django)
# -----------------------------------------------------------------------------

# Ignora o ambiente virtual Python no diretório 'backend'
/backend/venv/

# Arquivos de cache e compilação do Python
__pycache__/
*.pyc

# Arquivos temporários de banco de dados (SQLite)
*.sqlite3

# -----------------------------------------------------------------------------
# FRONTEND ESPECÍFICO (Next.js)
# -----------------------------------------------------------------------------

# Pastas de build do Next.js
/.next/
/out/
/build/

# Arquivos de tipagem e compilação
*.tsbuildinfo
next-env.d.ts

# -----------------------------------------------------------------------------
# ARQUIVOS DE AMBIENTE E SEGURANÇA
# -----------------------------------------------------------------------------

# Arquivos de variáveis de ambiente e segredos
.env
.env.*
*.pem

# -----------------------------------------------------------------------------
# ARQUIVOS GERAIS, LOGS E CACHE
# -----------------------------------------------------------------------------

# Logs de depuração
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Cache de testes
/coverage/

# Misc
.DS_Store # macOS
.vercel # Vercel CLI
# Arquivos Grandes (Seu .zip aqui)
backend.zip